{% extends 'master.html' %}
{% block title %} Orders {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">Orders</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/">Dashboard</a> > <a>Orders</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/category/create/">Add Orders</a>
          </div>
     </div>
     <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Orders
          </div>
          <div class="card-body">
              <table id="datatablesSimple">
                  <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Total Orders</th>
                            <th>Qty</th>
                            <th>Toal Amount</th>
                            <th>Order Date</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                  </thead>
                  <tfoot>
                        <tr>
                            <th>Sl No</th>
                            <th>Name</th>
                            <th>Order Qty</th>
                            <th>Order Date</th>
                            <th>Toal Amount</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                  </tfoot>
                  <tbody>
                    {% for data in orders %}
                        <tr>
                            <td style="text-align:center">{{forloop.counter}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.order_qty}}</td>
                            <td>{{data.date}}</td>
                            <td>{{data.toal_amount}}</td>
                            <td style="text-align:center"> 
                                {% if data.status == True %}
                                <i class="fa fa-toggle-on text-primary" aria-hidden="true"></i>
                                {% else %}
                                <i class="fa fa-toggle-off text-dark" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="modify">
                                    <a href="/hr/category/edit/{{data.id}}/{{data.slug}}/"><i class="fa fa-pencil-square text-warning" aria-hidden="true"></i></a>
                                    <a href="/hr/category/delete/{{data.id}}/{{data.slug}}/"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}