{% extends 'master.html' %}
{% block title %} Category {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">Category</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/">Dashboard</a> > <a>Add Category</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/category/create/">Categories</a>
          </div>
     </div>
     <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Category
          </div>
          <div class="card border-0 rounded-lg mt-4">
               <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row">
                              <div class="category-card-body">
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Category Name<span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" class="form-control"  class="form-control" name="name" value="{{ data.name }}"> </label>
                                        </div>
                                   </div>
                                 
                    
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Is active<span class="float-right"> : </span></label>
                                             <label class="input-field radio-box">
                                                  <label class="check_box radio">
                                                       <input type="radio" name="is_active" value="{{data.is_active}}" {% if data.is_active == 1 %} checked="checked" {% endif %}>Yes
                                                       <span class="checkmark"></span>
                                                  </label>
                                                  <label class="check_box radio">
                                                       <input type="radio" name="is_active" value="{{data.is_active}}" {% if data.is_active == 0 %} checked="checked" {% endif %}>No
                                                       <span class="checkmark"></span>
                                                  </label>
                                             </label>
                                        </div>
                                   </div>
                                 
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <div class="button-area">
                                                  <button type="submit" class="btn btn-primary"> Update </button>
                                             </div>
                                       </div>  
                                   </div>
                                   
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>

{% endblock %}