<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Invoice for Payment</title>
    {% load mathfilters %}
    <style>
      .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        line-height: 24px;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        color: #555;
      }

      .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
      }

      .invoice-box table td {
        padding: 5px;
        vertical-align: top;
      }

      .invoice-box table tr td:nth-child(2) {
        text-align: right;
      }

      .invoice-box table tr.top table td {
        padding-bottom: 20px;
      }

      .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
      }

      .invoice-box table tr.information table td {
        padding-bottom: 40px;
      }

      .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
      }

      .invoice-box table tr.details td {
        padding-bottom: 20px;
      }

      .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
      }

      .invoice-box table tr.item.last td {
        border-bottom: none;
      }

      .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
      }

      @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
          width: 100%;
          display: block;
          text-align: center;
        }

        .invoice-box table tr.information table td {
          width: 100%;
          display: block;
          text-align: center;
        }
      }

      /** RTL **/
      .invoice-box.rtl {
        direction: rtl;
        font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
          sans-serif;
      }

      .invoice-box.rtl table {
        text-align: right;
      }

      .invoice-box.rtl table tr td:nth-child(2) {
        text-align: left;
      }
      table.payment{
          border-collapse: collapse;
      }
      .inner-tabl,
      .inner-table tr td,
      table.payment tr th, table.payment tr td {
          border: 1px solid #ddd;
          padding: 5px 10px;
     }
     table.payment tr th:nth-child(2), table.payment tr td:nth-child(2),
     table.payment tr th:nth-child(3), table.payment tr td:nth-child(3) {
          text-align: center;
     }
     table.payment tr th:nth-child(4), table.payment tr td:nth-child(4) {
          text-align: right;
     }
     .inner-tabe, .inner-table tr td{
          border: 1px solid #ddd;
          border-collapse: collapse;
     }
    </style>
  </head>

  <body>
    <div class="invoice-box">
      <table cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  <img
                    src="https://www.sparksuite.com/images/logo.png"
                    style="width: 100%; max-width: 300px"
                  />
                </td>

                <td>
                  Invoice #: 123<br />
                  Created: {{payment.created_at}}<br />
                 
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="2">
            <table>
              <tr>
                <td>
                  Sparksuite, Inc.<br />
                  12345 Sunny Road<br />
                  Sunnyville, CA 12345
                </td>

                <td>
                  Acme Corp.<br />
                  John Doe<br />
                  john@example.com
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table class="payment" border-collapse="collapse">
          <tr>
               <th>Payment</th>
               <th>Payment Details</th>
               <th>Total Cost</th>
               <th>Net Balance</th>
          </tr>
          <tr>
               <td>Total Order</td>
               <td>{{payment.order_qty}} Orders</td>
               <td></td>
               <td></td>
          </tr>

          <tr>
               <td>Pay Per Order</td>
               <td>{{payment.pay_per_order}}</td>
               <td> </td>
               <td>{{payment.pay_per_order | mul:payment.order_qty}}</td>
          </tr>
          <tr>
               <td>Tips/Incentive/fine</td>
               <td>{{payment.tips}}</td>
               <td> </td>
               <td>{{payment.pay_per_order | mul:payment.order_qty | addition:payment.tips}}</td>
          </tr>
          
          <tr>
               <td>Late Login </td>
               <td>{{payment.late_log_in}}</td>
               <td>{{payment.late_log_in}}</td>
               <td>{{payment.pay_per_order | mul:payment.order_qty | addition:payment.tips | sub:payment.late_log_in}}</td>
          </tr>
          <tr>
            <td> No Show Ded</td>
            <td>{{payment.no_show_card}}</td>
            <td></td>
            <td></td>
       </tr>
          <tr>
               <td>Office Decuction</td>
               <td>{{payment.office_deduction}}</td>
               <td></td>
               <td></td>
          </tr>
          <tr>
               <td>Installment Due</td>
               <td>{{payment.intallment_due}}</td>
               <td></td>
               <td></td>
          </tr>
          <tr>
               <td>Total Paymant</td>
               <td></td>
               <td></td>
               <td>{{payment.toal_amount}}</td>
          </tr>

     </table>
    </div>
  </body>
</html>
