.sb-sidenav-footer,
.bread-camp {
     display: flex;
     justify-content: space-between;
 }
 .breadcrumb-item a:hover,
 .breadcrumb-item a {
     text-decoration: none;
     color: inherit;
 }
 .sb-sidenav-dark .sb-sidenav-footer {
     justify-content: flex-start;
 }
 .modify {
     display: flex;
     justify-content: center;
 }
 .modify a {
     text-decoration: none;
     color: inherit;
     padding: 0 5px;
     margin: 2px;
     line-height: 18px;
 }

 .check_box {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 16px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
   }
   
   .check_box input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
   }
   
   .radio .checkmark,
   .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #eee;
   }
   .radio .checkmark{
        border-radius: 15px;
   }
   .check_box:hover input ~ .checkmark {
     background-color: #ccc;
   }
   
   .check_box input:checked ~ .checkmark {
     background-color: #2196F3;
   }
   
   .checkmark:after {
     content: "";
     position: absolute;
     display: none;
   }
   
   .check_box input:checked ~ .checkmark:after {
     display: block;
   }
   
   .check_box .checkmark:after {
     left: 9px;
     top: 5px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
   }
   .check_box .checkmark:after {
     top: 7px;
     width: 6px;
   }
   .box-area {
     display: flex;
 }
 .box-area label{
     margin-right: 15px;
 }
 .card {
     border: 0px solid rgba(0, 0, 0, 0.125);
 }
 .image-box img {
     width: 95px;
 }
 .form-group label {
  width: 45%;
  font-size: 14px;
}
.form-group label span.float-right {
  float: right;
  padding-right: 10px;
}
 .card-body .form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card-body .form-group .view-field,
.card-body .form-group .input-field {
  width: 55%;
}
.card-body .form-group .input-field textarea, .card-body .form-group .input-field input {
  width: 100%;
  outline: none;
  padding: 2px 8px;
  font-size: 13px;
}
.radio-box {
  display: flex;
  justify-content: start;
}
.radio-box label {
  width: auto;
  margin-right: 20px;
}
.input-field .image-box {
  height: 60px;
  width: 100px;
  text-align: left;
}
.input-field .image-box img {
  height: 100%;
  width: auto;
}
.button-area {
  text-align: right;
  width: 100%;
  margin-top: 40px;
}
.status-switch a svg.fa-toggle-off {
  color: #212529;
}
.status-switch a svg.svg-inline--fa {
  font-size: 18px;
}
.status-switch a svg.fa-toggle-on {
  color: #44e35f;
}

.svg-inline--fa {
  font-size: 16px;
}
main button,
main a.btn {
  min-width: 100px;
}
.hide-block{
  display: none;
}
.category-card-body .form-group label {
  width: 30%;
}
.category-card-body .form-group .view-field, 
.category-card-body .form-group .input-field {
  width: 65%;
}
.category-card-body .check-box label,
.category-card-body .radio-box label {
  width: auto;
}
.img_box{
  display: none;
}
.img_box.active{
  display: block;
}
img#prev_image_load {
  width: 50px;
}
.modal-backdrop.fade {
  z-index: -1;
}
#NotifyPayModal.show{
  display: block;
}
body a{
  text-decoration: none;
  color: initial;
}
body a.close{
  font-size: 20px;
}