{% extends 'master.html' %}
{% block title %} Payment {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">{{data.first_name}}</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/hr">Dashboard</a> > <a>Payment</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/payments/">Payments</a>
          </div>
     </div>
   <div class="card mb-4">
          <div class="card shadow border-0 rounded-lg mt-4">
               <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row">
                              <div class="category-card-body">
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Month <span class="float-right"> : </span></label>
                                             <label class="input-field">
                                                  <input type="month" class="form-control" name="month" value="2002-01"> 
                                                  <input type="hidden" class="form-control" name="employee_id" value="{{emp_id}}" > 
                                             </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Total Order <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="number" onkeyup="calculetions()" class="form-control" id="order_qty" name="order_qty" value="1"> </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Pay per order <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="number" onkeyup="calculetions()" class="form-control" id="pay_per_order"  name="pay_per_order" value="1"> </label>
                                        </div>
                                   </div>

                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Tips <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="tips" name="tips" placeholder="0" value="0"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Late log in <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="late_log_in" name="late_log_in" placeholder="0" value="0"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>No Show Card <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="no_show_card" name="no_show_card"  value="0"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>Office Deduction<span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="office_deduction" name="office_deduction"  value="0"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>Intallment Due<span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="intallment_due" name="intallment_due"  value="0"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Status<span class="float-right"> : </span></label>
                                             <label class="input-field radio-box">
                                                  <label class="check_box radio">
                                                       <input type="radio" name="status" value="1" checked >Active
                                                       <span class="checkmark"></span>
                                                  </label>
                                                  <label class="check_box radio">
                                                       <input type="radio" name="status" value="0">Inactive
                                                       <span class="checkmark"></span>
                                                  </label>
                                             </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>Toal Amount<span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" class="form-control" id="toal_amount" name="toal_amount" value="1"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>Preview Images <span class="float-right"> : </span></label>
                                             <label class="input-field">
                                                  <div class="img_box">
                                                       <img id="prev_image_load" src="#" alt="Preview Image" />
                                                  </div>
                                                  <div class="mb-0">
                                                       <input class="form-control form-control-md" id="prev_image" name="rider_payment_image" multiple type="file">
                                                  </div>
                                             </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <div class="button-area">
                                                  <button type="submit" class="btn btn-primary"> Save </button>
                                             </div>
                                       </div>  
                                   </div>
                                   
                              </div>
                         </div>
                    </form>
               </div>
          </div>
   </div>
</div>

{% endblock %}

{% block script %}
<script>
     function calculetions(){
           var order_qty, pay_per_order, tips,late_log_in,no_show_card,order_qty,office_deduction,intallment_due;
           order_qty      =parseFloat($('#order_qty').val());
           pay_per_order  =parseFloat($('#pay_per_order').val());
           tips           =parseFloat($('#tips').val());
           late_log_in    =parseFloat($('#late_log_in').val());
           no_show_card    =parseFloat($('#no_show_card').val());
           office_deduction    =parseFloat($('#office_deduction').val());
           intallment_due    =parseFloat($('#intallment_due').val());
            
           
           var result=0
            result = ((order_qty*pay_per_order)+tips-late_log_in-no_show_card-office_deduction-intallment_due);
            
            
              
          console.log(result);
          $('#toal_amount').val(result);
     
     }

     
 </script>
{% endblock %}