{% extends 'master.html' %}
{% block title %} Payment {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     {% load static %}
     <h3 class="mt-4">{{data.first_name}}</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/hr">Dashboard</a> > <a>Payment</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/payments/">Payments</a>
               <a class="btn btn-secondary" data-toggle="modal" id="PayModal" data-target="#NotifyPayModal"><i class="fa fa-envelope text-white" aria-hidden="true"></i>Notify Payment</a>
          </div>
     </div>
     <div class="card mb-4">
          <div class="card shadow border-0 rounded-lg mt-4">
               <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row">
                              <div class="category-card-body">
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Month <span class="float-right"> : </span></label>
                                             <label class="input-field">
                                                  <input type="month" class="form-control" name="month" value="{{data.month}}"> 
                                                  <input type="hidden" class="form-control" name="employee_id" value="{{data.employee_id}}" > 
                                             </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Total Order <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="number" onkeyup="calculetions()" class="form-control" id="order_qty" name="order_qty" value="{{data.order_qty|floatformat:0}}"> </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Pay per order <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="number" onkeyup="calculetions()" class="form-control" id="pay_per_order"  name="pay_per_order" value="{{data.pay_per_order|floatformat:0}}"> </label>
                                        </div>
                                   </div>

                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Tips <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="tips" name="tips" value="{{data.tips|floatformat:0}}"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Late log in <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="late_log_in" name="late_log_in" value="{{data.late_log_in|floatformat:0}}"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>No Show Card <span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="no_show_card" name="no_show_card"  value="{{data.no_show_card|floatformat:0}}"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>Office Deduction<span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="office_deduction" name="office_deduction"  value="{{data.office_deduction|floatformat:0}}"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>Intallment Due<span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" onkeyup="calculetions()" class="form-control" id="intallment_due" name="intallment_due"  value="{{data.intallment_due|floatformat:0}}"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Status<span class="float-right"> : </span></label>
                                             <label class="input-field radio-box">
                                                  <label class="check_box radio">
                                                       <input type="radio" name="status" value="1"  {% if data.status == True %} checked="checked" {% endif %}>Active
                                                       <span class="checkmark"></span>
                                                  </label>
                                                  <label class="check_box radio">
                                                       <input type="radio" name="status" value="0" {% if data.status == False %}  checked="checked" {% endif %}>Inactive
                                                       <span class="checkmark"></span>
                                                  </label>
                                             </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label>Toal Amount<span class="float-right"> : </span></label>
                                             <label class="input-field"><input type="text" class="form-control" id="toal_amount" name="toal_amount" value="{{data.toal_amount|floatformat:0}}"></label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <label> Category Photo <span class="float-right"> : </span></label>
                                             <label class="input-field">
                                                  <div class="image-box">
                                                       <img src="/static/media/{{ data.rider_payment_image }}" alt="{{ data.status }}">
                                                  </div>
                                                  <div class="mb-0">
                                                       <input class="form-control form-control-md" name="rider_payment_image" type="file">
                                                  </div>
                                             </label>
                                        </div>
                                   </div>
                                   <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                             <div class="button-area">
                                                  <button type="submit" class="btn btn-primary"> Save </button>
                                             </div>
                                       </div>  
                                   </div>
                                   
                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
<!-- Modal -->
<div class="modal fade" id="NotifyPayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
               <form method="post" name="sendSimpleEmail" id="sendSimpleEmail" action="/hr/send_email/">
                    {% csrf_token %}
                    <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Notify Payment</h5>
                         <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </a>
                         <input type="hidden" name="employee_id" class="form-control" value="{{data.employee_id}}">
                    </div>
                    <div class="modal-body">
                         <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" value="{{data_employee.email}}">
                         </div>
                         <div class="form-group">
                              <label for="InputSubject">Subject</label>
                              <input type="text" class="form-control" id="InputSubject" name="subject" aria-describedby="emailHelp" placeholder="Title">
                         </div>
                         <div class="form-group">
                              <label for="exampleFormControlTextarea1">Message</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3" placeholder="Message"></textarea>
                         </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-primary">SEND</button>
                    </div>
               </form>
          </div>
     </div>
</div>
<div class="modal-backdrop fade"></div>
{% endblock %}

{% block script %}
<script>
     function calculetions(){
           var order_qty, pay_per_order, tips,late_log_in,no_show_card,order_qty,office_deduction,intallment_due;
           order_qty      =parseFloat($('#order_qty').val());
           pay_per_order  =parseFloat($('#pay_per_order').val());
           tips           =parseFloat($('#tips').val());
           late_log_in    =parseFloat($('#late_log_in').val());
           no_show_card    =parseFloat($('#no_show_card').val());
           office_deduction    =parseFloat($('#office_deduction').val());
           intallment_due    =parseFloat($('#intallment_due').val());
            
           
           var result=0
            result = ((order_qty*pay_per_order)+tips-late_log_in-no_show_card-office_deduction-intallment_due);
            
            
              
          console.log(result);
          $('#toal_amount').val(result);
     }

     function model_popup(){
          $('#PayModal').on('click', function(){
               $('#NotifyPayModal').addClass('show');
               $('.modal-backdrop').addClass('show');
               $('body').addClass('modal-open');
               $('.modal-backdrop').css({'z-index':1040});
          })
          $('.close').on('click',function(){
               $('#NotifyPayModal').removeClass('show');
               $('.modal-backdrop').removeClass('show');
               $('body').removeClass('modal-open');
               $('.modal-backdrop').css({'z-index':-1});
          })
     }
     model_popup();

     // $("#sendSimpleEmail").submit(function(e) {
     //      var from = '$("#from").val();';
     //      var to = '$("#to").val()';
     //      var subject = '$("#subject").val()';
     //      var emailbody = '$("#emailbody").val()';
     //      $.ajax({
     //           url: "/hr/sendSimpleEmail/",
     //           data: {
     //           from: 'mo7rul@gmail.com',
     //           to: 'monirul89@gmail.com',
     //           subject: subject,
     //           emailbody: emailbody
     //           },
     //           type: "POST"
     //      });
     // });
 </script>
{% endblock %}