{% extends 'master.html' %}
{% block title %} Payments {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">Payments</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/">Dashboard</a> > <a>All Payments </a></li>
          </ol>
          {% comment %} <div class="right-button">
               <a class="btn btn-secondary" href="/hr/category/create/">Add Orders</a>
          </div> {% endcomment %}
     </div>
     <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Payments
          </div>
          <div class="card-body">
              <table id="datatablesSimple">
                  <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Employee Name</th>
                            <th>Month</th>
                            <th>Order Qty</th>
                            <th>Pay Per Order </th>
                            <th>Toal Amount</th>
                            
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                  </thead>
                  <tfoot>
                        <tr>
                            <th>Sl No</th>
                            <th>Employee Name</th>
                           
                            <th>Month</th>
                            <th>Order Qty</th>
                            <th>Pay Per Order </th>
                            
                            <th>Toal Amount</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                  </tfoot>
                  <tbody>
                    {% for data in rider_data %}
                        <tr>
                            <td style="text-align:center">{{forloop.counter}}</td>
                            <td>{{data.employee.first_name}}</td>
                            
                            <td>{{data.month}}</td>
                            <td>{{data.order_qty}}</td>
                            <td>{{data.pay_per_order}}</td>
                            <td>{{data.toal_amount}}</td>
                            <td> 
                                {% if data.status == True %}
                                <a href="/hr/payments/status/{{data.id}}/"><i class="fa fa-circle" aria-hidden="true" style="color: #3feb3f"></i></i></a>
                                {% else %}
                                <a href="/hr/payments/status/{{data.id}}/"><i class="fa fa-circle" aria-hidden="true" style="opacity: .2;"></i></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="modify">
                                    <a href="/hr/payments/edit/{{data.id}}/"><i class="fa fa-pencil-square text-warning" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}