{% extends 'master.html' %}
{% block title %} Categories {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">Categories</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/">Dashboard</a> > <a>Categories</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/category/create/">New Category</a>
          </div>
     </div>
     <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Categories
          </div>
          <div class="card-body">
              <table id="datatablesSimple">
                  <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Name</th>
                            <th>Root Category </th>
                            <th>slug</th>
                            <th>description</th>
                            <th>category_photo</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                  </thead>
                  <tfoot>
                        <tr>
                            <th>Sl No</th>
                            <th>Name</th>
                            <th>Root Category </th>
                            <th>slug</th>
                            <th>description</th>
                            <th>category_photo</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                  </tfoot>
                  <tbody>
                    {% for data in categories %}
                        <tr>
                            <td style="text-align:center">{{forloop.counter}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.root_category.name}}</td>
                            <td>{{data.slug}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.category_photo}}</td>
                            <td style="text-align:center"> 
                                {% if data.is_active == True %}
                                <a href="/hr/category/status/{{data.id}}/"><i class="fa fa-circle" aria-hidden="true" style="color: #3feb3f"></i></i></a>
                                {% else %}
                                <a href="/hr/category/status/{{data.id}}/"><i class="fa fa-circle" aria-hidden="true" style="opacity: .2;"></i></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="modify">
                                    <a href="/hr/category/edit/{{data.id}}/"><i class="fa fa-pencil-square text-warning" aria-hidden="true"></i></a>
                                    <a href="/hr/category/delete/{{data.id}}/"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}