{% extends 'master.html' %}
{% block title %} Users {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">Users Update</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/hr">Dashboard</a> > <a>Users</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/employee/">Employee List</a>
          </div>
     </div>
     
   <div class="card mb-4">
          <div class="card shadow border-0 rounded-lg mt-4">
               <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row">
                              <div class="card-body col-sm-6">
                                  <div class="form-group">
                                      <label> First Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  class="form-control" name="first_name" value="{{data.first_name}}"> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Last Name <span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="last_name" value="{{data.last_name}}"> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Email<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="email" type="email" value="{{data.email}}"> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Phone <span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="phone" value="{{data.phone}}"> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Date Of Birth<span class="float-right"> : </span></label>
                                      <label class="input-field">
                                           <input type='date' class="form-control"  name="date_of_birth" id="datepicker1" value="">
                                       </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Age<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="number" class="form-control"  name="age" value="{{data.age}}"> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Blood Group<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="blood_group" value="{{data.blood_group}}"> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Gender<span class="float-right"> : </span></label>
                                      <label class="input-field radio-box">
                                        <label class="check_box radio">
                                             <input type="radio" name="gender" value="1" {% if data.gender == 1 %} checked = 'checked' {% endif %}>Male
                                             <span class="checkmark"></span>
                                        </label>
                                        <label class="check_box radio">
                                             <input type="radio" name="gender" value="2" {% if data.gender == 2 %} checked = 'checked' {% endif %}>Female
                                             <span class="checkmark"></span>
                                        </label>
                                      </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Nationality<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="nationality" value="{{data.nationality}}"> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Religion<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="religion" value="{{data.religion}}"> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Passport<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="passport" value="{{data.passport}}"> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Driving License <span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="driving_license" value="{{data.driving_license}}"> </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Profile Photo <span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <div class="image-box">
                                                  <img src="/static/media/{{data.profile_photo}}" alt="profile">
                                             </div>
                                             <div class="mb-0">
                                                  <input class="form-control-file form-control-md" name="profile_photo" type="file" value="{{data.profile_photo}}" style="padding-left:0;">
                                             </div>
                                        </label>
                                   </div>
                              </div>
                              <div class="card-body col-sm-6">

                                  <div class="form-group">
                                      <label> Father's  Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="fathers_name" value="{{data.fathers_name}}"> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Mother's Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="mothers_name" value="{{data.mothers_name}}"> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> National ID Number<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="number" class="form-control"  name="national_id" value="{{data.national_id}}"> </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Marital Status<span class="float-right"> : </span></label>
                                        <label class="input-field radio-box">
                                             <label class="check_box radio">
                                                  <input type="radio" name="marital_Status" value="1" {% if data.marital_Status == 1 %} checked="checked" {% endif %} >Married
                                                  <span class="checkmark"></span>
                                             </label>
                                             <label class="check_box radio">
                                                  <input type="radio" name="marital_Status" value="0"  {% if data.marital_Status == 0 %} checked="checked" {% endif %}>Unmarried
                                                  <span class="checkmark"></span>
                                             </label>
                                        </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Spouse Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="spouse_name" value="{{data.spouse_name}}"> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Number Of Children<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="number" class="form-control"  name="no_of_childen" value="{{data.no_of_childen}}"> </label>
                                  </div>
                                   <div class="form-group">
                                       <label> Is Staff<span class="float-right"> : </span></label>
                                       <label class="input-field radio-box">
                                        <label class="check_box radio">
                                             <input type="radio" name="is_staff" value="1" {% if data.is_staff == 1 %} checked="checked" {% endif %} >Yes
                                             <span class="checkmark"></span>
                                        </label>
                                        <label class="check_box radio">
                                             <input type="radio" name="is_staff" value="0" {% if data.is_staff == 0 %} checked="checked" {% endif %}>No
                                             <span class="checkmark"></span>
                                        </label>
                                   </label>
                                 </div>
                                  <div class="form-group">
                                        <label> Present Address<span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <textarea class="form-control" type="text" style="height: 100px;" name="present_address">{{data.present_address}}</textarea>
                                        </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Permanent Address <span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <textarea class="form-control" type="text" style="height: 100px;" name="permanent_address">{{data.permanent_address}}</textarea>
                                        </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Comment <span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <textarea class="form-control" type="text" style="height: 100px;" name="comment">{{data.comment}}</textarea>
                                        </label>
                                  </div>
                                  <div class="form-group">
                                        <div class="button-area">
                                             <button type="submit" class="btn btn-primary"> Update </button>
                                        </div>
                                  </div>                                       
                              </div>
                          </div>
                    </form>
               </div>
          </div>
   </div>
</div>
<script>
 </script>
{% endblock %}