{% extends 'master.html' %}
{% block title %} Employee List {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">Employee</h3>
     <div class="bread-camp">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"><a href="/hr"> Dashboard</a> > Employee List</li>
            </ol>
           <div class="right-button">
               <a class="btn btn-secondary" href="/hr/employee/create">Add Employee</a>
           </div>
     </div>     
     <div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Employee List
          </div>
          <div class="card-body">
              <table id="datatablesSimple">
                  <thead>
                      <tr>
                            <th>Sl No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Age</th>
                            <th>Status</th>
                            <th>Action</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                         <th>Sl No</th>
                         <th>Name</th>
                         <th>Email</th>
                         <th>Phone</th>
                         <th>Age</th>
                         <th>Status</th>
                         <th>Action</th>
                      </tr>
                  </tfoot>
                  <tbody>
                    {% for data in employee %}

                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{data.first_name}}  {{data.last_name}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.phone}}</td>
                            <td>{{data.age}}</td>
                            <td> 
                                {% if data.status == True %}
                                <a href="/hr/employee/{{data.id}}/status/"><i class="fa fa-toggle-on" aria-hidden="true"></i></a>
                                {% else %}
                                <a href="/hr/employee/{{data.id}}/status/"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="modify">
                                    <a href="/hr/employee/payment/add/{{data.id}}/" title="Add Payment"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <a href="/hr/employee/{{data.id}}/view/" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="/hr/employee/{{data.id}}/edit/" title="Edit"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                                    <a href="/hr/employee/{{data.id}}/delete/" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}