{% extends 'master.html' %}
{% block title %} New Employee {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">New Employee</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/hr">Dashboard</a> > <a>New Employee</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/employee/">Employee List</a>
          </div>
     </div>
     
   <div class="card mb-4">
          <div class="card shadow border-0 rounded-lg mt-4">
               <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row">
                              <div class="card-body col-sm-6">
                                  <div class="form-group">
                                      <label> First Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  class="form-control" name="first_name" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Last Name <span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="last_name" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Email<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="email" type="email" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Phone <span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="phone" value=""> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Date Of Birth<span class="float-right"> : </span></label>
                                      <label class="input-field">
                                           <input type="date" class="form-control"  name="date_of_birth" value="2002-01-15">
                                       </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Age<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="number" class="form-control"  name="age" value=""> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Blood Group<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="blood_group" value=""> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Gender<span class="float-right"> : </span></label>
                                      <label class="input-field radio-box">
                                        <label class="check_box radio">
                                             <input type="radio" name="gender" value="1" checked >Male
                                             <span class="checkmark"></span>
                                        </label>
                                        <label class="check_box radio">
                                             <input type="radio" name="gender" value="2">Female
                                             <span class="checkmark"></span>
                                        </label>
                                      </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Nationality<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="nationality" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Religion<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="religion" value=""> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Passport<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="passport" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Driving License <span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="driving_license" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Profile Photo <span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <div class="img_box">
                                                  <img id="prev_image_load" src="#" alt="Preview Image" />
                                             </div>
                                             <div class="mb-0">
                                                  <input class="form-control form-control-md" id="prev_image" name="profile_photo" multiple type="file">
                                             </div>
                                        </label>
                                   </div>
                              </div>
                              <div class="card-body col-sm-6">

                                  <div class="form-group">
                                      <label> Father's  Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="fathers_name" value=""> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Mother's Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="mothers_name" value=""> </label>
                                  </div>

                                  <div class="form-group">
                                      <label> National ID Number<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="number" class="form-control"  name="national_id" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Marital Status<span class="float-right"> : </span></label>
                                        <label class="input-field radio-box">
                                             <label class="check_box radio">
                                                  <input type="radio" name="marital_Status" value="1" >Married
                                                  <span class="checkmark"></span>
                                             </label>
                                             <label class="check_box radio">
                                                  <input type="radio" name="marital_Status" value="0">Unmarried
                                                  <span class="checkmark"></span>
                                             </label>
                                        </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Spouse Name<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="text" class="form-control"  name="spouse_name" value=""> </label>
                                  </div>
                                  <div class="form-group">
                                      <label> Number Of Children<span class="float-right"> : </span></label>
                                      <label class="input-field"><input type="number" class="form-control"  name="no_of_childen" value=""> </label>
                                  </div>
                                   <div class="form-group">
                                       <label> Is Staff<span class="float-right"> : </span></label>
                                       <label class="input-field radio-box">
                                            <label class="check_box radio">
                                                 <input type="radio" name="is_staff" value="1" >Yes
                                                 <span class="checkmark"></span>
                                            </label>
                                            <label class="check_box radio">
                                                 <input type="radio" name="is_staff" value="0">No
                                                 <span class="checkmark"></span>
                                            </label>
                                       </label>
                                 </div>
                                 <div class="form-group">
                                   <label> Date Of Joining<span class="float-right"> : </span></label>
                                   <label class="input-field">
                                        <input type="date" class="form-control"  name="date_of_joing" value="2022-01-15">
                                    </label>
                               </div>
                                  <div class="form-group">
                                        <label> Present Address<span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <textarea class="form-control" type="text" style="height: 55px;" name="present_address"></textarea>
                                        </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Permanent Address <span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <textarea class="form-control" type="text" style="height: 55px;" name="permanent_address"></textarea>
                                        </label>
                                  </div>
                                  <div class="form-group">
                                        <label> Comment <span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <textarea class="form-control" type="text" style="height: 55px;" name="comment"></textarea>
                                        </label>
                                  </div>
                                  <div class="form-group">
                                        <div class="button-area">
                                             <button type="submit" class="btn btn-primary"> Save </button>
                                        </div>
                                  </div>                                       
                              </div>
                          </div>
                    </form>
               </div>
          </div>
   </div>
</div>

{% endblock %}