{% extends 'master.html' %}
{% block title %} Employee view {% endblock %} 
{% block content %}
<div class="container-fluid px-4">
     <h3 class="mt-4">Employee</h3>
     <div class="bread-camp">
          <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item active"><a href="/">Dashboard</a> > <a>Employee</a></li>
          </ol>
          <div class="right-button">
               <a class="btn btn-secondary" href="/hr/employee/{{data.id}}/edit/">Edit Employee</a>
          </div>
     </div>
     
   <div class="card mb-4">
          <div class="card shadow border-0 rounded-lg mt-4">
               <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row">
                              <div class="card-body col-sm-6">
                                  <div class="form-group">
                                      <label> First Name<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.first_name }}</label>
                                  </div>
                                  <div class="form-group">
                                      <label> Last Name <span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.last_name }}</label>
                                  </div>
                                  <div class="form-group">
                                      <label> Email<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.email }}</label>
                                  </div>
                                  <div class="form-group">
                                      <label> Phone <span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.phone }}</label>
                                  </div>

                                  <div class="form-group">
                                      <label> Date Of Birth<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.date_of_birth }}</label>
                                  </div>
                                  <div class="form-group">
                                      <label> Age<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.age }}</label>
                                  </div>

                                  <div class="form-group">
                                      <label> Blood Group<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.blood_group }}</label>
                                  </div>

                                  <div class="form-group">
                                      <label> Gender<span class="float-right"> : </span></label>
                                      <label class="input-field radio-box">
                                        <label class="check_box radio">
                                             <input type="radio" name="gender" value="1" {% if data.gender == 1 %} checked = 'checked' {% endif %}>Male
                                             <span class="checkmark"></span>
                                        </label>
                                        <label class="check_box radio">
                                             <input type="radio" name="gender" value="2" {% if data.gender == 2 %} checked = 'checked' {% endif %}>Female
                                             <span class="checkmark"></span>
                                        </label>
                                      </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Nationality<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.nationality }}</label>
                                  </div>
                                  <div class="form-group">
                                      <label> Religion<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.religion }}</label>
                                  </div>

                                  <div class="form-group">
                                      <label> Passport<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.passport }}</label>
                                  </div>
                                  <div class="form-group">
                                      <label> Driving License <span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.driving_license }}</label>
                                  </div>
                                  <div class="form-group">
                                        <label> Profile Photo <span class="float-right"> : </span></label>
                                        <label class="input-field">
                                             <div class="image-box">
                                                  <img src="/static/media/{{data.profile_photo}}" alt="profile">
                                             </div>
                                        </label>
                                   </div>
                              </div>
                              <div class="card-body col-sm-6">

                                  <div class="form-group">
                                      <label> Father's  Name<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.fathers_name }}</label>
                                  </div>

                                  <div class="form-group">
                                      <label> Mother's Name<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.mothers_name }}</label>
                                  </div>

                                  <div class="form-group">
                                      <label> National ID Number<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.national_id }}</label>
                                  </div>
                                  <div class="form-group">
                                        <label> Marital Status<span class="float-right"> : </span></label>
                                        <label class="input-field radio-box">
                                             <label class="check_box radio">
                                                  <input type="radio" name="marital_Status" value="1" {% if data.marital_Status == 1 %} checked="checked" {% endif %} >Married
                                                  <span class="checkmark"></span>
                                             </label>
                                             <label class="check_box radio">
                                                  <input type="radio" name="marital_Status" value="0"  {% if data.marital_Status == 0 %} checked="checked" {% endif %}>Unmarried
                                                  <span class="checkmark"></span>
                                             </label>
                                        </label>
                                  </div>

                                  <div class="form-group">
                                      <label> Spouse Name<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.spouse_name }}</label>
                                  </div>
                                  <div class="form-group">
                                      <label> Number Of Children<span class="float-right"> : </span></label>
                                      <label class="input-field">{{ data.no_of_childen }}</label>
                                  </div>
                                   <div class="form-group">
                                       <label> Is Staff<span class="float-right"> : </span></label>
                                       <label class="input-field radio-box">
                                            <label class="check_box radio">
                                                 <input type="radio" name="is_staff" value="1" {% if data.is_staff == 1 %} checked="checked" {% endif %} >Yes
                                                 <span class="checkmark"></span>
                                            </label>
                                            <label class="check_box radio">
                                                 <input type="radio" name="is_staff" value="0" {% if data.is_staff == 0 %} checked="checked" {% endif %}>No
                                                 <span class="checkmark"></span>
                                            </label>
                                       </label>
                                 </div>
                                  <div class="form-group">
                                        <label> Present Address<span class="float-right"> : </span></label>
                                        <label class="input-field">{{ data.present_address }}</label>
                                  </div>
                                  <div class="form-group">
                                        <label> Permanent Address <span class="float-right"> : </span></label>
                                        <label class="input-field">{{ data.permanent_address }}</label>
                                  </div>
                                  <div class="form-group">
                                        <label> Comment <span class="float-right"> : </span></label>
                                        <label class="input-field">{{ data.comment }}</label>
                                  </div>
                              </div>
                          </div>
                    </form>
               </div>
          </div>
   </div>
</div>
{% endblock %}